.constrct {
    aspect-ratio: 1;

    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/015/286/969/small/plus-sign-icon-free-png.png');
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;

    transition: 0.2s ease-in-out;
}
.constrct:hover {
    cursor: pointer;
    border: none;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.501);
}